.links-images-container{
    padding: 30px 0;
    float: right;
    border: none;
    width: 40%;
    margin-right: 30px;
    margin-top: 33px;
    min-height: 270px;
    background-image: url(../images/products/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}