.tags{
    padding:60px;
    width:800px;
    margin:0 auto;
    display:block;
    position: relative;
}

.tags .list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.tags .item {
    -webkit-flex: 1 auto;
    flex: 1 auto;
    padding: 0.5rem;
    text-align: center;
}

.tags .item a {
    display: block;
    background-color: #88D498;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    color: #fff;
}

.tags .item a:hover{
    background-color: #66b276;
}
