.tags {
    padding: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.tags .list {
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    flex-flow: row wrap;

}

.tags .item {
    display: block;
    padding: 5px;
    text-align: center;
}

.tags .item a {
    display: block;
    background-color: #c1001f;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.tags .item a:hover {
    background-color: #98000c;
}

/* 
html {
    scroll-behavior: smooth;
} */